body {
    overflow: hidden;
}
.bound {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation: grow 2s linear;
}

@keyframes grow {
    to {
        width: 500%;
        height: 1000%;
        opacity: 0;
    }
}